
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
/*
Roboto Thin - 100
Roboto Light - 300
Roboto Regular - 400
Roboto Medium - 500
Roboto Bold - 700
Roboto Black - 900
*/

/* jl = Job List */
/* jd = Job Details */
/* sc = Scheduler */



/* Google Icons Classes */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

/* /Google Icons Classes */



/* Sidebar Nav */

.arrow-back {
	margin-top: 15px;
	text-indent: 15px;
}

.menu-back {
	height: 50px;
	width:  100%;
	background-color: #36bae2;
}

.sidebar-nav-header {
	text-indent: 20px;
	line-height: 70px;
	background-color: #36bae2;
	color: #fff;
	font-weight: 100;
	font-size: 22px;
}

.menu-icon {
	margin-top: 13px;
}

/* /Sidebar Nav */



/* Header */

.scheduler-header {
	background-color: #e9e4d3;
	height: 50px;
	line-height: 50px;
}

.scheduler-header .btn {
	background-color: transparent;
	font-size: 24px;
	height: 50px;
	width: 50px;
}

/* /Header */



/* Job List Page */

.jl-today-header {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	margin-top: 30px;
	padding-bottom: 5px;
	border-bottom: 1px solid #969696;
}

.jl-today-row {
	border-bottom: 1px solid #969696;
	height: 70px;
	line-height: 70px;
}

.jl-time {
	font-size: 14px;
}

.jl-title {
	font-size: 26px;
	font-weight: 300;
}

.jl-tom-header {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	margin-top: 60px;
	padding-bottom: 5px;
	border-bottom: 1px solid #969696;
}

.jl-tom-row {
	border-bottom: 1px solid #969696;
	height: 40px;
	line-height: 40px;
}

.jl-tom-title {
	font-size: 14px;
}

/* /Job List Page */



/* Add Job Modal */

.add-job-modal-header .modal-title {
	line-height: 1.5;
	margin-left: 45px;
}

.add-job-job-name {
	background-color: #ededed;
}

.add-job-list li {
	list-style: none;
}

ul {
	-webkit-padding-start: 0px;
}

.form-control:focus {
	outline: 0;
	border-color: #939393;
	box-shadow: none;
}

.sc-button {
	padding: 15px 50px;
}

.sc-modal-button {
	padding: 15px 50px;
}

.add-job-modal-footer .btn-default:hover {
	background-color: #ffffff;
}

.btn:active {
	box-shadow: inset 0px 0px 0px 0px;
}

/* /Add Job Modal */


